<p id="notice"><%= notice %></p>

<h1>Note Images</h1>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @note_images.each do |note_image| %>
      <tr>
        <td><%= note_image.note_id %></td>
        <td><%= link_to 'Show', note_image %></td>
        <td><%= link_to 'Edit', edit_note_image_path(note_image) %></td>
        <td><%= link_to 'Destroy', note_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note Image', new_note_image_path %>
