<p id="notice"><%= notice %></p>

<h1>Deleted Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.try(:reify) ? article.reify.title : article.title %></td>
        <td><%= article.try(:reify) ? article.reify.body : article.body %></td>
        <td><%= link_to 'Restore this article', restore_article_path(article), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', articles_path %>
